<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2 :: head">
</head>
<body>
	<!-- Top menu -->
	<nav th:replace="layout2 :: header"></nav>
	<br />
	<br />
	<br />
	<br />
	<h1>Đây là các sản phẩm đang bán</h1>
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img th:src="@{img/gai.jpg}" />
				<div class="caption">
					<h3>Gái</h3>
					<p>Gái là một loài sinh vật kì lạ nhất trên thế giới này</p>
					<p>
						<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" role="button">Xem Chi Tiết</a> 
						<a href="#" class="btn btn-default" role="button">Thêm Vào Giỏ Hàng</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Gái</h3>
				</div>
				<div class="modal-body">
					<img th:src="@{img/gai.jpg}" />
					<h4>Gái là một loài sinh vật kì lạ nhất trên thế giới này</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
<!-- /Modal -->
	<nav th:replace="layout2 :: footer"></nav>
</body>
</html>
