<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>
	
		<h3>Wellcome to my project</h3>
		<h1><a href="http://localhost:8080/loaisanpham">Loại Sản Phẩm</a></h1>
		<h1><a href="http://localhost:8080/nhasanxuat">Nhà Sản Xuất</a></h1>
		<h1><a href="http://localhost:8080/khuyenmai">Khuyến Mãi</a></h1>
		<h1><a href="http://localhost:8080/hinhthucthanhtoan">Hình Thức Thanh Toán</a></h1>
		<h1><a href="http://localhost:8080/sanpham">Sản Phẩm</a></h1>
		
	<footer th:replace="layout :: footer"></footer>
</body>
</html>