<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="simplelayout :: head"></head>
<body>
	<nav th:replace="simplelayout :: header"></nav>
	<br />
	<br />
	<br />
	<br />
	<h1>
		<a th:href="@{/user}">Vào giao diện user</a>
	</h1>
	<br />
	<br />
	<h1>
		<a th:href="@{/admin}">Vào giao diện admin</a>
	</h1>
	<br />
	<form action="#" th:action="@{/logout}" method="POST">
		<button type="submit">Logout</button>
	</form>
	<br/><br/><br/><br/><br/>
	<footer th:replace="simplelayout :: footer"></footer>
</body>
</html>