<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

</head>
<body>
	<div class="loader">
		<div class="loader-img"></div>
	</div>

	<!-- Top menu -->
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="scroll-link" href="#top-content">Trang chủ</a></li>
					<li><a class="scroll-link" href="#sanpham">Sản Phẩm</a></li>
					<li><a class="scroll-link" href="#taikhoan">Tài khoản</a></li>
					<li><a class="scroll-link" href="#about">About</a></li>
					<li><a class="scroll-link" href="#lienhe">Liên hệ</a></li>
					<li><a href="#">Giỏ hàng</a></li>
					
					<li><a><button>Tìm Kiếm</button></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page title -->
	
</body>
</html>